.image{
      width: 100%;
      height: 90%;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 20% 0;
  }

.items {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 30px 20px;
  }
  .item {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20% 0;
}

.items .right {
    display: flex;
    flex-direction: column;
    text-align: rigth;
	padding: 0 1rem 1rem;
    
  }
.icons{
        display: flex;
        justify-content:left;
        gap: 1rem;
        text-align: center;
      }
  
input[type="number"]{
    width:170px;
}
input[type="text"]{
    width: auto;
}

.warning{
    color: red;
    text-align: center;
}
.span.data{
    color: blue;
}
.blue{
    color: rgb(33, 33, 153);
}
.btn.up{
    position: fixed;
    bottom: 8px;
    right: 12px;
    background-color: rgb(33, 33, 153);
    color: white;
}
.row{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}
.row.no-border{
    border-width : 0;
    box-shadow: none;
    margin:1px;
    border-radius: 1px;

}
.card{
    border-width : 0
}
.light{
    position:fixed;
    top: 10px;
    right: 8px;
    color: rgb(33, 33, 153);
}
.material-icons{
    color: rgb(33, 33, 153);
}
.form{
    justify-content: center;
    align-items: center;
}